Build a regression model.

In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model, datasets
import statsmodels.api as sm

In [14]:
df= pd.read_csv('finalfinal_df.csv')
df

,Unnamed: 0,Name,ReviewCount,Rating,location.zip_code,empty_slots,free_bikes,Latitude,Longitude,Distance
0,0,AFRU Gallery,3.0,4.5,97214.0,NaN,NaN,45.519840,-122.660138,421.0
1,1,Adams and Ollman,1.0,5.0,97205.0,NaN,NaN,45.522985,-122.668749,604.0
2,2,Alberta Street Gallery,13.0,5.0,97211.0,NaN,NaN,45.559140,-122.641729,943.0
3,3,Antler Gallery,7.0,4.5,97211.0,NaN,NaN,45.558937,-122.642298,939.0
4,4,Artistic Portland Gallery,18.0,5.0,97204.0,NaN,NaN,45.548119,-122.620374,522.0
...,...,...,...,...,...,...,...,...,...,...
273,273,SE Alder at 6th,NaN,4.0,NaN,10.0,0.0,0.000000,0.000000,652.0
274,274,SE 8th at Alder,NaN,4.0,NaN,1.0,4.0,0.000000,0.000000,652.0
275,275,Cleveland High School,NaN,4.0,NaN,8.0,1.0,0.000000,0.000000,652.0
276,276,NE 37th at NE Shaver,NaN,4.0,NaN,4.0,2.0,0.000000,0.000000,652.0
277,277,NE 29th Ave (U of O),NaN,4.0,NaN,1.0,5.0,0.000000,0.000000,652.0

In [15]:
X= df['Distance']
Y= df['Rating']

In [16]:
X = sm.add_constant(X)
lin_reg = sm.OLS(Y,X)

In [17]:
model = lin_reg.fit()
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Rating   R-squared:                       0.008
Model:                            OLS   Adj. R-squared:                  0.004
Method:                 Least Squares   F-statistic:                     2.236
Date:                Sun, 19 Nov 2023   Prob (F-statistic):              0.136
Time:                        06:41:37   Log-Likelihood:                -99.287
No. Observations:                 278   AIC:                             202.6
Df Residuals:                     276   BIC:                             209.8
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.8780      0.128     30.347      0.000       3.626       4.130
Distance       0.0003      0.000      1.495      0.136   -9.15e-05       0.001
==============================================================================
Omnibus:                      148.020   Durbin-Watson:                   1.615
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             6710.236
Skew:                          -1.381   Prob(JB):                         0.00
Kurtosis:                      26.910   Cond. No.                     4.06e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.06e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

Provide model output and an interpretation of the results.

The merged dataframe has a high number of null values and imputed values (Ratings and Distance). It is evident from the supremely low R-squared value of 0.008 that this is not the best fit model. 
A p-value of less than 0.05 is considered to be statistically significant. This regression output shows a p-value of 0, which means that the distance does not impact the rating.

# Stretch

How can you turn the regression model into a classification model?